# Flutter / Dart generated output
/build/
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies

# Local machine SDK configuration
/android/local.properties
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh

